form {
    margin-top: 15vh;
    filter: blur();
}

fieldset {
    border: 2px solid transparent;
    border-radius: 20px !important;
    padding: 80px;
    box-shadow: 5px 10px 18px red;
    background-color: black;
    background-image: url("../images/Fluid_Gradient_Background.jpg");
    background-repeat: no-repeat;
    background-size: 350%;
    background-position-y: -500px;
    background-position-x: -805px;
    color: white;
}

body>div {
    width: 600px;
}

body {
    background-image: url("../images/Screenshot\ \(2\).png");
    background-repeat: no-repeat;
    background-repeat: repeat-y;
    background-size: 101%;
}

button {
    text-align: center;
    font-size: 25px !important;
    height: 50px !important;
}

#btnLoginGoogle {
    background-image: url("../images/googleSingIn.png");
    background-size: cover;
    background-position: center center;
    height: 50px;
    margin-top: 13px !important;
}

button:first-child {
    background-color: blueviolet !important;
}

@media only screen and (max-width: 600px) {
    body>div:last-child {
        width: 100%;
    }
}