<!DOCTYPE html>
<html>

<head lang="pt-br">
    <meta charset="utf-8" />
    <title>Eventos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="./css/home.css" />
</head>

<body>
    <div style="width:300px;margin: 0 auto; text-align:center;">
        <button type="button" onclick="window.location='https://showpartymanager.herokuapp.com/'">ERROR GO HOME</button>
    </div>
    <div style="width:500px;display:block;margin:0 auto;">
        <img src="https://pics.ballmemes.com/computer-dont-worry-l-can-troubleshoot-it-we-have-d-60676302.png">
    </div>

</body>

</html>