<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="./css/home.css" />
</head>

<body>
    <main>
        <header sec:authorize="hasRole('ADMIN')">
            <div>Gerenciador de Eventos</div>
            <ul>
                <a href="/">
                    <li>Home</li>
                </a>
                <a href="/casaDeShow">
                    <li>Casa de Show</li>
                </a>
                <a href="/event">
                    <li>Eventos</li>
                </a>
                <a href="/historic">
                    <li>historico</li>
                </a>
            </ul>
            <a href="/logout">
                <div>Logout</div>
            </a>
        </header>
        <header sec:authorize="hasRole('USER')">
            <div>Gerenciador de Eventos</div>
            <ul>
                <a href="/">
                    <li>Home</li>
                </a>
                <a href="/historic">
                    <li>historico</li>
                </a>
            </ul>
            <a href="/logout">
                <div>Logout</div>
            </a>
        </header>
        <article>
            <h1>Bem vindo <span sec:authentication="name"></span></h1>
            <div th:each="event:${events}" th:style="'background:url('+ ${event.link} +');background-repeat:repeat-x;background-size:contain'">

                <div>
                    <div th:text="${event.eventName} "></div>
                    <div th:text=" 'Preço do ingresso:' + ' '+${#numbers.formatDecimal(event.price,2,2, 'COMMA')} "></div>
                    <div th:text="${#dates.format(event.date, 'dd/MM/yyyy')} "></div>
                    <div th:text=" 'Local:' + ' '+${event.partyHouse.name} "></div>
                    <div th:text=" 'Ingressos Restantes:' + ' '+${event.capacity} "></div>
                    <!-- <a th:href="@{./{id}(id=${event.id})} ">Comprar</a> -->
                    <!--  -->
                    <!-- Trigger/Open The Modal -->
                    <button id="myBtn" class="btn btn-primary" onclick="console.dir(this.nextElementSibling.style.display = 'block')">Comprar</button>

                    <!-- The Modal -->
                    <div id="myModal" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close" onclick="console.dir(this.parentNode.parentNode.style.display = 'none')">&times;</span>
                            <p>Your Contents</p>
                            <div th:text="${event.eventName} "></div>
                            <div th:text=" 'Preço do ingresso:' + ' '+${#numbers.formatDecimal(event.price,2,2, 'COMMA')} "></div>
                            <div th:text="${#dates.format(event.date, 'dd/MM/yyyy')} "></div>
                            <div th:text=" 'Local:' + ' '+${event.partyHouse.name} "></div>
                            <div th:text=" 'Ingressos Restantes:' + ' '+${event.capacity} "></div>
                            <a th:href="@{./{id}(id=${event.id})} ">Comprar</a>
                        </div>

                    </div>
                    <!--  -->
                </div>
            </div>
        </article>
    </main>

    <!-- <script>
        function test(e) {
            // Get the modal
            var modal = document.getElementById('myModal');

            // Get the button that opens the modal
            var btn = document.getElementById("myBtn");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks the button, open the modal 
            e.onclick = function() {
                modal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        }
    </script> -->
</body>

</html>