<!DOCTYPE html>
<html>

<head lang="pt-br">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Eventos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="./css/home.css" />
</head>

<body>
    <header>
        <div>Gerenciador de Eventos</div>
        <ul>
            <a href="/">
                <li>Home</li>
            </a>
            <a href="/casaDeShow">
                <li>Casa de Show</li>
            </a>
            <a href="/event">
                <li>Eventos</li>
            </a>
            <a href="/historic">
                <li>historico</li>
            </a>
        </ul>
        <a href="/logout">
            <div>Logout</div>
        </a>
    </header>
    <form class="form-group col-6" method="post" action="./casaDeShow" style="padding: 10px;">
        <div class="form-group ">
            <label for="eventname">Nome da Casa de Show</label>
            <input type="text" class="form-control" id="name" aria-describedby="name" name="name" required />
        </div>
        <div class="form-group ">
            <label for="capacity">Endereço</label>
            <input type="text" class="form-control" id="address" aria-describedby="address" name="address" required />
        </div>
        <input class="btn btn-primary" type="submit" />
    </form>
    <footer>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Endereço</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Deletar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="house:${houses}">
                    <th scope="row" th:text="${house.id}"></th>
                    <td scope="row" th:text="${house.name}"></td>
                    <td scope="row" th:text="${house.address}"></td>
                    <td scope="row">
                        <a th:href="@{https://showpartymanager.herokuapp.com/casaDeShow/{id}(id=${house.id})}"><button type="button" class="btn btn-info">Editar</button></a
              >
            </td>
            <td scope="row">
              <a
                th:href="@{https://showpartymanager.herokuapp.com/casaDeShow/del/{id}(id=${house.id})}"
                ><button type="button" class="btn btn-danger">
                  Excluir
                </button></a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </footer>
  </body>
</html>